* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif; 
    background: #ffffff; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #75a3ee;
    color: white; 
}

.logo img {
    height: 75px; 
    width: 80px;
}

nav {
    flex-grow: 1; 
}

nav ul {
    display: flex;
    justify-content: flex-end; 
    list-style-type: none;
}

nav ul > li {
    position: relative; 
    padding: 10px;
}

nav ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    transition: background 0.3s; 
}

nav ul > li > a:hover {
    background: rgba(255, 255, 255, 0.2); 
}

.submenu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background: #5a89d4; 
    border-radius: 5px;
    padding: 10px;
}

.submenu li {
    padding: 5px 10px; 
}

.submenu li a {
    color: white;
    text-decoration: none;
    display: block; 
    transition: background 0.3s;
}

.submenu li a:hover {
    background: rgba(255, 255, 255, 0.2);
}


nav ul > li:hover .submenu {
    display: block;
}
  #transaction-form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #308adf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #transaction-form {
    margin: 20px;
  }
  
  #transaction-form h2 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #2c8de7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #2386f7;
  }
  
  footer {
    text-align: center;
    padding: 30px; 
    background: #618ed8;
    color: white;
}

footer a {
    color: white;
    text-decoration: none; 
    transition: color 0.3s;
}

footer a:hover {
    color: rgb(138, 128, 128);
}
